@import constants.sass

=buffer($margin, $padding)
  margin: $margin
  padding: $padding

=size($height, $width)
  height: $height
  width: $width

=width($min, $max)
  @media only screen and (min-width: $min) and (max-width: $max - 1)
    @content

=min-width($width)
  @media only screen and (min-width: $width)
    @content

=max-width($width)
  @media only screen and (max-width: $width - 1)
    @content

=center
  margin-left: auto
  margin-right: auto

=hidden
  display: none

=visible
  visibility: visible

*
  padding: 0
  margin: 0

html, body
  height: 100%
  background: #F5F5F5

div.header
  height: 3em
  width: 100%
  position: fixed
  top: 0
  background: #C0EFFD
  z-index: 10000

  div.logo
    width: 3em
    height: 100%
    position: absolute
    top: 0
    left: calc(50% - 1.5em)
    z-index: 2

    img
      padding: 10%
      width: 80%
      height: 80%

  div.menu
    width: 600px
    height: 100%
    position: absolute
    left: calc(50% - 300px)
    z-index: 1

    ul
      list-style-type: none
      height: 100%
      line-height: 3em

      li
        float: left
        width: 25%
        display: block
        text-align: center

        a, span
          color: $b3
          text-decoration: none
          font-weight: bold
          cursor: pointer
          display: block

div.header
  div.menu
    top: 0
    transition: all 0.5s ease

div.header.hidden
  div.menu
    top: -3em
    transition: all 0.5s ease

a
  color: $b3
  text-decoration: none

div.body
  min-height: 100%
  height: auto !important
  margin: 0 auto 0-$header_height
  background: linear-gradient(#C0EFFD, #FFECC0)
  background-size: 200% 200%
  animation: background-animation 15s ease infinite

  div.centered
    +center
    +size(40%, 40%)
    max-width: 100vh
    padding: 2em 0

    +max-width($md)
      width: 60%

    +max-width($sm)
      width: 80%

    div.letter
      text-align: justify

      h2
        +size(auto, 100%)
        +center
        text-align: center

      h3
        margin-top: 1em

      li
        list-style-position: inside
        text-indent: 2.5em

    .logo
      cursor: default
      padding-top: 17.5vh

    textarea
      +size(5em, 100%)
      margin: 1em 5px 0 5px
      font-size: 125%
      line-height: 1.25em

    form
      +center
      width: 300px
      margin-top: 1em

      input
        +size(1.5em, 100%)
        margin: 0.5em 0
        display: block
        font-size: 150%
        line-height: 1.5em
        text-align: center

input, textarea
  border: none
  box-sizing: border-box
  resize: none

@keyframes background-animation
  0%
    background-position: 50% 25%
  50%
    background-position: 50% 75%
  100%
    background-position: 50% 25%

div.header-padding
  +size($header_height + 0.5em, 100%)

div.footer-padding
  +size($header_height, 100%)

div.footer
  +size($header_height, 100%)
  background: $w1
  color: $w2
  line-height: $header_height
  text-align: center

.modal-overlay
  +size(100%, 100%)
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

  .modal
    +size(80%, 80%)
    display: none
    background-color: $w1
    box-shadow: 0 0 100px $w4
    margin: 30px auto
    padding: 1em
    overflow: scroll

.modal-header
  .content
    +center
    color: $w3
    line-height: $header_height
    border-bottom: 2px solid $w2

    .close
      +size($header_height - 1, $header_height - 1)
      float: right
      margin-top: 0.25-$header_height

.modal-body
  form
    text-align: center
    input
      +size($header_height, 100%)
      font-size: 100%
      line-height: $header_height
      text-align: center
    div.g-recaptcha
      display: inline-block

.button
  +size(2em, auto)
  padding: 0 1em
  display: inline-block
  cursor: pointer
  line-height: 2em
  text-align: center
  color: $w1
  background: $w5
  border: none

.button:hover
  background: $w3

.button.primary
  background: $b5

.button.primary:hover
  background: $b3

.button.danger
  color: $w5
  background: $o5

.button.danger:hover
  background: $o3

.content, .panel
  overflow: auto
  width: 100%

  .center
    +center

  .left
    float: left

  .right
    float: right

.logo
  cursor: pointer

.close
  cursor: pointer

  .outer
    fill: $w1
    stroke: $w3

  .inner
    fill: $w3

.close:hover
  .outer
    fill: $w2
    stroke: $w5

  .inner
    fill: $b5

.heart
  cursor: pointer

.heart, .heart.active:hover
  fill: $w2

.heart:hover, .heart.active
  fill: $r3

.options
  cursor: pointer

  circle
    fill: $w2

.options:hover
  circle
    fill: $b3

.hamburger
  cursor: pointer

  .outer
    fill: $b1
    stroke: $w3

  .inner
    fill: $w3

.hamburger:hover
  .outer
    fill: $w2
    stroke: $w5

  .inner
    fill: $b5

.hamburger.active
  .outer
    fill: $w2
    stroke: $w5

  .inner
    fill: $o5

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

+max-width($xs)
  .xs-visible
    +hidden

+max-width($sm)
  .sm-visible
    +hidden

+max-width($md)
  .md-visible
    +hidden

+max-width($lg)
  .lg-visible
    +hidden

+max-width($xl)
  .xl-visible
    +hidden

+min-width($xs)
  .xs-hidden
    +hidden

+min-width($sm)
  .sm-hidden
    +hidden

+min-width($md)
  .md-hidden
    +hidden

+min-width($lg)
  .lg-hidden
    +hidden

+min-width($xl)
  .xl-hidden
    +hidden

.grid
  display: flex

.grid .col
  +size(auto, 100%)
  flex: 1

+min-width($md)
  .grid .col
    +size(auto, 100% / 2)

+min-width($xl)
  .grid .col
    +size(auto, 100% / 3)

.grid .col .panel.ad
  +size(calc(1.5em + 250px), 300px)
  margin-left: calc(50% - 150px)
  text-align: center
  color: $w2

.grid .col .panel
  +size(auto, 95%)
  margin-left: calc(2.5% - 0.5px)
  margin-bottom: 0.5em
  background: $w1
  border: 1px solid $w1
  box-shadow: 0px 0px 5px 0px $w3
  position: relative

  img, video, ins
    +size(auto, 100%)
    margin: 0
    border: none
    cursor: pointer

  .footer
    +size(3em, 100%)
    margin-top: -3em
    position: relative
    bottom: 0
    background: linear-gradient(to bottom, rgba(44, 44, 44, 0), rgba(44, 44, 44, 1))
    color: $w1
    font-weight: bold

  .footer
    opacity: 0.5
    filter: alpha(opacity = 50)
    transition: all 0.5s ease


.grid:hover .col:hover .panel:hover
  .footer
    opacity: 1.0
    filter: alpha(opacity = 100)
    transition: all 0.5s ease

.grid .col img
  +size(auto, 95%)
  margin-left: calc(2.5% - 0.5px)
  border: 1px solid $w1
