@import constants.sass

=buffer($margin, $padding)
  margin: $margin
  padding: $padding

=size($height, $width)
  height: $height
  width: $width

=width($min, $max)
  @media only screen and (min-width: $min) and (max-width: $max - 1)
    @content

=min-width($width)
  @media only screen and (min-width: $width)
    @content

=max-width($width)
  @media only screen and (max-width: $width - 1)
    @content

=min-height($height)
  @media only screen and (min-height: $height)
    @content

=max-height($height)
  @media only screen and (max-height: $height - 1)
    @content

=center
  margin-left: auto
  margin-right: auto

=hidden
  display: none

=visible
  visibility: visible

*
  padding: 0
  margin: 0

html, body
  height: 100%
  background: #F5F5F5

body
  overflow-y: scroll

div.header
  height: 3em
  width: 100%
  position: fixed
  top: 0
  background: $b1
  z-index: 10000

  div.logo
    width: 3em
    height: 100%
    position: absolute
    top: 0
    left: calc(50% - 1.5em)
    z-index: 2

    img
      padding: 10%
      width: 80%
      height: 80%

  div.menu
    width: 600px
    height: 100%
    position: absolute
    left: calc(50% - 300px)
    z-index: 1

    ul
      list-style-type: none
      height: 100%
      line-height: 3em

      li
        float: left
        width: 25%
        display: block
        text-align: center

        ul
          width: 100%
          overflow: hidden

          li
            width: 100%
            clear: left
            background: $b1

            a, span
              color: $b3
              text-decoration: none
              font-weight: bold
              cursor: pointer
              display: block

        ul
          max-height: 0
          transition: all 0.5s ease

        ul.show
          max-height: 15em
          transition: all 0.5s ease

        a, span
          color: $b3
          text-decoration: none
          font-weight: bold
          cursor: pointer
          display: block

  div.header-loading
    +size(0.25em, 0%)
    margin-top: 3em
    background: $o3

div.header
  div.menu
    top: 0
    transition: all 0.5s ease

div.header.hidden
  div.menu
    top: -3em
    transition: all 0.5s ease

a
  color: $b3
  text-decoration: none

div.body
  min-height: 100%
  height: auto !important
  margin: 0 auto 0-$header_height
  background: linear-gradient(#C0EFFD, #FFECC0)
  background-size: 200% 200%
  animation: background-animation 15s ease infinite

  div.centered
    +center
    +size(40%, 40%)
    max-width: 100vh
    padding: 2em 0

    +max-width($md)
      width: 60%

    +max-width($sm)
      width: 80%

    div.letter
      text-align: justify

      h2
        +size(auto, 100%)
        +center
        text-align: center

      h3
        margin-top: 1em

      li
        list-style-position: inside
        text-indent: 2.5em

    .logo
      cursor: default
      margin-top: 10vh

      +max-height(640px)
        margin-top: 0

    textarea
      +size(5em, 100%)
      margin: 1em 5px 0 5px
      font-size: 125%
      line-height: 1.25em

    form
      +center
      width: 300px
      margin-top: 1em

    form.full
      width: 100%
      text-align: center

      div.preview
        +center
        max-width: 100%
        display: inline-block

        video
          +center
          max-width: 100%

        img
          +center
          max-width: 100%

      img
        +center
        max-width: 100%

      div.center
        +center
        width: 300px

form
  img.loading
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    margin: auto
    max-width: 100%
    max-height: 100%
    z-index: 1000

input, textarea
  border: none
  box-sizing: border-box
  resize: none

@keyframes background-animation
  0%
    background-position: 50% 25%
  50%
    background-position: 50% 75%
  100%
    background-position: 50% 25%

div.header-padding
  +size($header_height, 100%)

div.footer-padding
  +size($header_height, 100%)

div.footer
  +size($header_height, 100%)
  background: $w1
  color: $w2
  line-height: $header_height
  text-align: center

.modal-overlay
  +size(100%, 100%)
  display: none
  position: fixed
  z-index: 1000000
  left: 0
  top: 0
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

  .modal
    +size(auto, 20em)
    background-color: $w1
    box-shadow: 0 0 100px $w4
    margin: 30px auto
    padding: 1em
    overflow: scroll

.modal-header
  .content
    +center
    color: $w3
    line-height: $header_height
    border-bottom: 2px solid $w2

    .close
      +size($header_height - 1, $header_height - 1)
      float: right
      margin-top: 0.25-$header_height

.modal-body
  text-align: center

  .button
    +size($header_height, 90%)
    font-size: 100%
    line-height: $header_height
    text-align: center

div.g-recaptcha
  min-height: 78px
  display: block
  background-color: rgb(249, 249, 249)

div.video
  position: relative

div.video.paused:before
  +size(calc(90% - 0.5em), calc(90% - 0.5em))
  position: absolute
  top: 5%
  left: 5%
  content: ''
  border: 0.25em dashed $w1
  pointer-events: none

div.video.paused:after
  +size(4em, 4em)
  position: absolute
  top: calc(50% - 2em)
  left: calc(50% - 2em)
  text-align: center
  content: ''
  background-image: url('//cdn-beta.spiffy.io/static/svg/play.svg')
  opacity: 0.5
  pointer-events: none

div.disabled:before
  +size(100%, 100%)
  padding: 0 1px
  position: absolute
  content: ''
  background: $w3
  opacity: 0.15

.button
  +size(2em, auto)
  padding: 0 1em
  display: inline-block
  cursor: pointer
  line-height: 2em
  text-align: center
  color: $w1
  background: $w5
  border: none

.button:hover
  background: $w3

.button.primary
  background: $b5

.button.primary:hover
  background: $b3

.button.success
  background: $g5

.button.success:hover
  background: $g3

.button.danger
  color: $w5
  background: $o5

.button.danger:hover
  background: $o3

.invisible
  opacity: 0
  pointer-events: none

.content, .panel
  overflow: auto
  width: 100%

  .center
    +center

  .left
    float: left

  .right
    float: right

.logo
  cursor: pointer

.close
  cursor: pointer

  .outer
    fill: $w1
    stroke: $w3

  .inner
    fill: $w3

.close:hover
  .outer
    fill: $w2
    stroke: $w5

  .inner
    fill: $b5

.heart
  cursor: pointer

.heart, .heart.active:hover
  fill: $w2

.heart:hover, .heart.active
  fill: $r3

.options
  cursor: pointer

  circle
    fill: $w2

.options:hover
  circle
    fill: $b3

.hamburger
  cursor: pointer

  .outer
    fill: $b1
    stroke: $w3

  .inner
    fill: $w3

.hamburger:hover
  .outer
    fill: $w2
    stroke: $w5

  .inner
    fill: $b5

.hamburger.active
  .outer
    fill: $w2
    stroke: $w5

  .inner
    fill: $o5

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

+max-width($xs)
  .xs-visible
    +hidden

+max-width($sm)
  .sm-visible
    +hidden

+max-width($md)
  .md-visible
    +hidden

+max-width($lg)
  .lg-visible
    +hidden

+max-width($xl)
  .xl-visible
    +hidden

+min-width($xs)
  .xs-hidden
    +hidden

+min-width($sm)
  .sm-hidden
    +hidden

+min-width($md)
  .md-hidden
    +hidden

+min-width($lg)
  .lg-hidden
    +hidden

+min-width($xl)
  .xl-hidden
    +hidden

.grid
  display: flex

.grid .col
  +size(auto, 100%)
  margin-top: 0.5em
  flex: 1

.clickable
  display: block
  cursor: pointer

+min-width($md)
  .grid .col
    +size(auto, 100% / 2)

+min-width($xl)
  .grid .col
    +size(auto, 100% / 3)

.allmedia
  margin: 0.5em 0
  text-align: center

  img
    +size(160px, 160px)
    margin: 0.5em
    padding: 0.25em
    display: inline-block
    cursor: pointer

  img.clicked
    padding: 0
    border: 0.25em solid $o3

.grid .col .panel.ad
  +size(calc(1.5em + 250px), 300px)
  margin-left: calc(50% - 150px)
  text-align: center
  color: $w2

.grid .col .panel
  background: $w1
  border: 1px solid $w1
  box-shadow: 0px 0px 5px 0px $w3

.grid .col .panel, .post-comment
  +size(auto, 95%)
  margin-left: calc(2.5% - 0.5px)
  margin-bottom: 0.5em
  position: relative
  overflow: hidden

  div.centeryo
    background: $w4
    line-height: 0
    border-spacing: 0

  div.mediayo
    +size(auto, auto)
    +center
    max-height: 640px
    max-width: 640px
    display: table

  img, video, ins
    +size(auto, 100%)
    margin: 0
    display: initial
    border: none

  div.source.advertisement
    +size(1em, 100%)
    line-height: 1em
    text-align: center

    span
      font-size: 75%
      color: $w2

  div.source
    +size(auto, inherit)
    margin: 0.5em
    color: $w5
    font-weight: bold
    line-height: 3em
    text-align: left
    max-width: 100%

    div
      +size(auto, auto)

    div.account
      float: left
      line-height: 1.5em

      div
        margin-left: 0.5em
        float: left

      span.time
        font-size: 75%
        font-weight: bold
        color: $w2

    div.post-information
      float: right

      div
        margin-right: 0.5em
        float: right

.panel
  img, video, ins
    +size(auto, auto)
    +center
    max-width: 100%
    display: block
    border: none

  video
    cursor: pointer

.grid .col img
  +size(auto, 95%)
  margin-left: calc(2.5% - 0.5px)
  border: 1px solid $w1

div.post
  +size(auto, 100%)
  background: $w4
  color: $w1
  text-align: center

div.media
  +size(auto, auto)
  position: relative
  display: inline-block
  overflow: hidden

  +max-width($md)
    max-width: 100%

  +min-width($md)
    max-width: 80%

  img, video, ins
    +size(auto, auto)
    max-width: 100%

div.information
  display: inline-block

  +min-width($md)
    margin: 0 5em

  div.description
    display: inline-block
    text-align: initial
    margin-bottom: 0.5em

  div.description:empty
    margin-bottom: 0em

div.actions
  text-align: center

  button
    +size(2em, 4em)
    padding: 0 1em

    img
      height: 60%
      margin-top: 20%

div.centeryo
  +size(auto, 100%)
  text-align: center

div.initialyo
  +size(auto, 100%)
  text-align: initial

div.comments
  +size(auto, 100%)
  display: inline-block

  +min-width($md)
    +size(auto, 640px)

  form.comment
    +size(auto, 100%)

    +max-width($sm)
      margin-top: 0.5em

    div.input
      display: inline-block

      +max-width($sm)
        +buffer(0, 0)

    input
      padding: 0 0.5em

      +max-width($sm)
        +buffer(0, 0)

    div.text
      width: 75%

      +max-width($sm)
        width: 100%

      +min-width($md)
        width: 85%

    div.submit
      width: 20%

      +max-width($sm)
        width: 100%

      +min-width($md)
        width: 10%

  div.comment
    +size(auto, auto)
    line-height: 1.5em
    margin: 0.5em 0
    padding: 0 0.5em
    color: $w4
    text-align: initial
    float: left

div.dz-preview
  display: none

form.dropzone
  height: 5em
  border: 5px $w4 dashed
  text-align: center
  cursor: pointer

  img
    height: 3em
    padding-top: 1em
    pointer-events: none

form
  div.message
    +size(auto, calc(100% - 4px))
    margin: 0.5em 0
    padding: 0.5em 0
    font-size: 125%
    text-align: center
    border: 2px solid $w3
    display: none

  div.message.error
    border-color: $o5
    background-color: $o1
    color: $o5

  div.message.success
    border-color: $b5
    background-color: $b1
    color: $b4

  div.message.tip
    border-color: $g5
    background-color: $g1
    color: $g5

  div.message:empty
    display: none

form input[type]
  padding: 5px
  position: relative
  width: 100%
  height: 50px
  border: none
  border-radius: 0
  font-size: 125%
  line-height: 1.5em
  z-index: 1
  transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), border-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)

form input[type]:focus
  background: #C0EFFD

form .disabled
  opacity: 0.4
  pointer-events: none

form label
  pointer-events: none
  position: absolute
  opacity: 0
  top: 0
  transform: translateY(15%)
  z-index: 2
  font-weight: bold
  font-size: 10px
  text-transform: uppercase
  padding-left: 6px
  color: #13c3f8
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)

form > *:not(:first-child).input,
form > *:not(:first-child) .input
  border-top: none

.input
  margin: 0.5em 0
  position: relative

.bt-flabels__error-desc
  position: absolute
  top: 0
  right: 6px
  opacity: 0
  font-weight: bold
  color: #ffb60e
  font-size: 10px
  text-transform: uppercase
  z-index: 3
  pointer-events: none

.bt-flabels__error input[type]
  background: #FFECC0

.bt-flabels__error input[type]:focus
  background: #FFECC0

.bt-flabels__error .bt-flabels__error-desc
  opacity: 1
  transform: translateY(0)

.bt-flabels--right
  border-left: none

.bt-flabel__float label
  opacity: 1
  transform: translateY(0)

.bt-flabel__float input[type]
  padding-top: 9px
