@import global.sass

html, body
  +size(100%, 100%)

.body
  +size(100%, 100%)
  position: absolute
  display: table

  .post
    display: table-cell
    text-align: center
    vertical-align: middle

    .media
      padding: 0.5em
      display: inline-block
      background: $b1

      img, video
        +size(auto, auto)
        max-height: calc(100vh - 4.5em)
        max-width: calc(100vw - 1em)
        display: block

    .information
      +size(3em, 100%)
      padding-top: 0.5em
      background: $b1

      .icon
        +size(3em, 3em)
        float: left

        img
          +size(100%, 100%)

      .description
        +size(3em, calc(100% - 8em))
        padding: 0 1em
        float: left
        color: $w4
        font-weight: bold
        line-height: 3em
        text-align: left
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

      .logo
        +size(2em, 2em)
        padding: 0.5em
        float: right

        img
          +size(100%, 100%)
