Howdy $property.name! You have received this email because this email address was used to register an account on SPIFFY.io. In an ideal world this is something that sounds familiar.  

The following link will be valid for roughly thirty minutes, and will allow you to set a new account password.

$property.url

SPIFFY.io, LLC (c) 2016