* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  background: #F5F5F5;
}

body {
  overflow-y: scroll;
}

div.header {
  height: 3em;
  width: 100%;
  position: fixed;
  top: 0;
  background: #C0EFFD;
  z-index: 10000;
}

div.header div.logo {
  width: 3em;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 1.5em);
  z-index: 2;
}

div.header div.logo img {
  padding: 10%;
  width: 80%;
  height: 80%;
}

div.header div.menu {
  width: 600px;
  height: 100%;
  position: absolute;
  left: calc(50% - 300px);
  z-index: 1;
}

div.header div.menu ul {
  list-style-type: none;
  height: 100%;
  line-height: 3em;
}

div.header div.menu ul li {
  float: left;
  width: 25%;
  display: block;
  text-align: center;
}

div.header div.menu ul li a, div.header div.menu ul li span {
  color: #5FD4F5;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

div.header div.menu {
  top: 0;
  transition: all 0.5s ease;
}

div.header.hidden div.menu {
  top: -3em;
  transition: all 0.5s ease;
}

a {
  color: #5FD4F5;
  text-decoration: none;
}

div.body {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -3em;
  background: linear-gradient(#C0EFFD, #FFECC0);
  background-size: 200% 200%;
  animation: background-animation 15s ease infinite;
}

div.body div.centered {
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
  max-width: 100vh;
  padding: 2em 0;
}

@media only screen and (max-width: 767px) {
  div.body div.centered {
    width: 60%;
  }
}

@media only screen and (max-width: 479px) {
  div.body div.centered {
    width: 80%;
  }
}

div.body div.centered div.letter {
  text-align: justify;
}

div.body div.centered div.letter h2 {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.body div.centered div.letter h3 {
  margin-top: 1em;
}

div.body div.centered div.letter li {
  list-style-position: inside;
  text-indent: 2.5em;
}

div.body div.centered .logo {
  cursor: default;
  padding-top: 17.5vh;
}

div.body div.centered textarea {
  height: 5em;
  width: 100%;
  margin: 1em 5px 0 5px;
  font-size: 125%;
  line-height: 1.25em;
}

div.body div.centered form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 1em;
}

div.body div.centered form input {
  height: 1.5em;
  width: 100%;
  margin: 0.5em 0;
  display: block;
  font-size: 150%;
  line-height: 1.5em;
  text-align: center;
}

form img.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 1000;
}

input, textarea {
  border: none;
  box-sizing: border-box;
  resize: none;
}

@keyframes background-animation {
  0% {
    background-position: 50% 25%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 50% 25%;
  }
}

div.header-padding {
  height: 3.5em;
  width: 100%;
}

div.footer-padding {
  height: 3em;
  width: 100%;
}

div.footer {
  height: 3em;
  width: 100%;
  background: #F5F5F5;
  color: #D3D3D3;
  line-height: 3em;
  text-align: center;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-overlay .modal {
  height: 80%;
  width: 80%;
  display: none;
  background-color: #F5F5F5;
  box-shadow: 0 0 100px #3D3D3D;
  margin: 30px auto;
  padding: 1em;
  overflow: scroll;
}

.modal-header .content {
  margin-left: auto;
  margin-right: auto;
  color: #5F5F5F;
  line-height: 3em;
  border-bottom: 2px solid #D3D3D3;
}

.modal-header .content .close {
  height: 2em;
  width: 2em;
  float: right;
  margin-top: -2.75em;
}

.modal-body form {
  text-align: center;
}

.modal-body form input {
  height: 3em;
  width: 100%;
  font-size: 100%;
  line-height: 3em;
  text-align: center;
}

.modal-body form div.g-recaptcha {
  display: inline-block;
}

.button {
  height: 2em;
  width: auto;
  padding: 0 1em;
  display: inline-block;
  cursor: pointer;
  line-height: 2em;
  text-align: center;
  color: #F5F5F5;
  background: #0D0D0D;
  border: none;
}

.button:hover {
  background: #5F5F5F;
}

.button.primary {
  background: #12B1DE;
}

.button.primary:hover {
  background: #5FD4F5;
}

.button.danger {
  color: #0D0D0D;
  background: #FFB60D;
}

.button.danger:hover {
  background: #FFCF5E;
}

.content, .panel {
  overflow: auto;
  width: 100%;
}

.content .center, .panel .center {
  margin-left: auto;
  margin-right: auto;
}

.content .left, .panel .left {
  float: left;
}

.content .right, .panel .right {
  float: right;
}

.logo {
  cursor: pointer;
}

.close {
  cursor: pointer;
}

.close .outer {
  fill: #F5F5F5;
  stroke: #5F5F5F;
}

.close .inner {
  fill: #5F5F5F;
}

.close:hover .outer {
  fill: #D3D3D3;
  stroke: #0D0D0D;
}

.close:hover .inner {
  fill: #12B1DE;
}

.heart {
  cursor: pointer;
}

.heart, .heart.active:hover {
  fill: #D3D3D3;
}

.heart:hover, .heart.active {
  fill: #FF735E;
}

.options {
  cursor: pointer;
}

.options circle {
  fill: #D3D3D3;
}

.options:hover circle {
  fill: #5FD4F5;
}

.hamburger {
  cursor: pointer;
}

.hamburger .outer {
  fill: #C0EFFD;
  stroke: #5F5F5F;
}

.hamburger .inner {
  fill: #5F5F5F;
}

.hamburger:hover .outer {
  fill: #D3D3D3;
  stroke: #0D0D0D;
}

.hamburger:hover .inner {
  fill: #12B1DE;
}

.hamburger.active .outer {
  fill: #D3D3D3;
  stroke: #0D0D0D;
}

.hamburger.active .inner {
  fill: #FFB60D;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media only screen and (max-width: 319px) {
  .xs-visible {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .sm-visible {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .md-visible {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .lg-visible {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .xl-visible {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  .xs-hidden {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .sm-hidden {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
}

.grid {
  display: flex;
}

.grid .col {
  height: auto;
  width: 100%;
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .grid .col {
    height: auto;
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .grid .col {
    height: auto;
    width: 33.33333%;
  }
}

.grid .col .panel.ad {
  height: calc(1.5em + 250px);
  width: 300px;
  margin-left: calc(50% - 150px);
  text-align: center;
  color: #D3D3D3;
}

.grid .col .panel {
  height: auto;
  width: 95%;
  margin-left: calc(2.5% - 0.5px);
  margin-bottom: 0.5em;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 0px 5px 0px #5F5F5F;
  position: relative;
}

.grid .col .panel img, .grid .col .panel video, .grid .col .panel ins {
  height: auto;
  width: 100%;
  margin: 0;
  display: initial;
  border: none;
  cursor: pointer;
}

.grid .col .panel .footer {
  height: 3em;
  width: 100%;
  margin-top: -3em;
  position: relative;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(44, 44, 44, 0), #2c2c2c);
  color: #F5F5F5;
  font-weight: bold;
}

.grid .col .panel .footer {
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: all 0.5s ease;
}

.panel img, .panel video, .panel ins {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
  border: none;
  cursor: pointer;
}

.grid:hover .col:hover .panel:hover .footer {
  opacity: 1.0;
  filter: alpha(opacity=100);
  transition: all 0.5s ease;
}

.grid .col img {
  height: auto;
  width: 95%;
  margin-left: calc(2.5% - 0.5px);
  border: 1px solid #F5F5F5;
}
