* {
  padding: 0;
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

div.video.paused div.controls {
  display: none;
}

div.video {
  position: relative;
  overflow: hidden;
}

div.video div.controls {
  height: 3em;
  width: 100%;
  position: absolute;
  bottom: -3em;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

div.video div.controls div.pause {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  position: absolute;
  left: 1em;
}

div.video div.controls div.volume {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  position: absolute;
  right: 1em;
}

div.video:hover div.controls, div.video:focus div.controls {
  bottom: 0;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

div.video.paused:before {
  height: -webkit-calc(90% - 0.5em);
  height: calc(90% - 0.5em);
  width: -webkit-calc(90% - 0.5em);
  width: calc(90% - 0.5em);
  position: absolute;
  top: 5%;
  left: 5%;
  content: '';
  border: 0.25em dashed #F5F5F5;
  pointer-events: none;
}

div.video.paused:after {
  height: 4em;
  width: 4em;
  position: absolute;
  top: -webkit-calc(50% - 2em);
  top: calc(50% - 2em);
  left: -webkit-calc(50% - 2em);
  left: calc(50% - 2em);
  text-align: center;
  content: '';
  background-image: url("//cdn.spiffy.io/static/svg/play.svg");
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 319px) {
  .xs-visible {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .sm-visible {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .md-visible {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .lg-visible {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .xl-visible {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  .xs-hidden {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .sm-hidden {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: table;
}

.body .post {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.body .post .media {
  padding: 0.25em;
  display: inline-block;
  background: #C0EFFD;
}

.body .post .media img, .body .post .media video {
  height: auto;
  width: auto;
  max-height: -webkit-calc(100vh - 4em);
  max-height: calc(100vh - 4em);
  max-width: -webkit-calc(100vw - 0.5em);
  max-width: calc(100vw - 0.5em);
  display: block;
  cursor: pointer;
}

.body .post .information {
  height: 3em;
  width: 100%;
  padding-top: 0.5em;
  background: #C0EFFD;
}

.body .post .information .icon {
  height: 3em;
  width: 3em;
  float: left;
}

.body .post .information .icon img {
  height: 100%;
  width: 100%;
}

.body .post .information .description {
  height: 3em;
  width: -webkit-calc(100% - 8em);
  width: calc(100% - 8em);
  padding: 0 1em;
  float: left;
  color: #3D3D3D;
  font-weight: bold;
  line-height: 3em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.body .post .information .logo {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  float: right;
}

.body .post .information .logo img {
  height: 100%;
  width: 100%;
}
