* {
  padding: 0;
  margin: 0;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

@media only screen and (max-width: 319px) {
  .xs-visible {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .sm-visible {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .md-visible {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .lg-visible {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .xl-visible {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  .xs-hidden {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .sm-hidden {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: table;
}

.body .post {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.body .post .media {
  padding: 0.5em;
  display: inline-block;
  background: #C0EFFD;
}

.body .post .media img, .body .post .media video {
  height: auto;
  width: auto;
  max-height: -webkit-calc(100vh - 4.5em);
  max-height: calc(100vh - 4.5em);
  max-width: -webkit-calc(100vw - 1em);
  max-width: calc(100vw - 1em);
  display: block;
}

.body .post .information {
  height: 3em;
  width: 100%;
  padding-top: 0.5em;
  background: #C0EFFD;
}

.body .post .information .icon {
  height: 3em;
  width: 3em;
  float: left;
}

.body .post .information .icon img {
  height: 100%;
  width: 100%;
}

.body .post .information .description {
  height: 3em;
  width: -webkit-calc(100% - 8em);
  width: calc(100% - 8em);
  padding: 0 1em;
  float: left;
  color: #3D3D3D;
  font-weight: bold;
  line-height: 3em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.body .post .information .logo {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  float: right;
}

.body .post .information .logo img {
  height: 100%;
  width: 100%;
}
